<a href="https://colab.research.google.com/github/CrisHarsche/DS_Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Demonstração Pandas - Disciplina Introdução à Ciências de Dados - Univesp

Prof. Dr. José Eduardo Santarem Segundo

In [1]:
import pandas as pd
import numpy as np

Series

In [2]:
s1=pd.Series([1,2,-5,0])

In [3]:
s1

0    1
1    2
2   -5
3    0
dtype: int64

In [4]:
s1.values

array([ 1,  2, -5,  0])

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
s2=pd.Series([1,2,-5,0], index=['a', 'b', 'c', 'd'])

In [9]:
s2

a    1
b    2
c   -5
d    0
dtype: int64

In [10]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
s2['a'] =1000

In [13]:
s2

a    1000
b       2
c      -5
d       0
dtype: int64

Comparação

In [14]:
s2[s2>0]

a    1000
b       2
dtype: int64

Algebra

In [15]:
s2*2

a    2000
b       4
c     -10
d       0
dtype: int64

In [16]:
s2

a    1000
b       2
c      -5
d       0
dtype: int64

In [17]:
s2.isnull()

a    False
b    False
c    False
d    False
dtype: bool

Dataframe

In [20]:
dados={'estado':['SP', 'MG', 'PR', 'SP', 'MG', 'PR'], 'ano':[2019, 2019, 2019, 2020, 2020, 2020], 'pop':[45.9, 21.2,16.9,46.6,21.4,17.3]}
df1=pd.DataFrame(dados)

In [21]:
df1

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2
2     PR  2019  16.9
3     SP  2020  46.6
4     MG  2020  21.4
5     PR  2020  17.3

In [22]:
df1.head(2)

  estado   ano   pop
0     SP  2019  45.9
1     MG  2019  21.2

In [23]:
df1.tail(2)

  estado   ano   pop
4     MG  2020  21.4
5     PR  2020  17.3

In [24]:
df1.sample(2)

  estado   ano   pop
2     PR  2019  16.9
1     MG  2019  21.2

Novo DF a partir do anterior

In [26]:
df2=pd.DataFrame(dados, columns=['ano', 'estado', 'pop'])

In [28]:
df2

    ano estado   pop
0  2019     SP  45.9
1  2019     MG  21.2
2  2019     PR  16.9
3  2020     SP  46.6
4  2020     MG  21.4
5  2020     PR  17.3

In [29]:
df2['estado']

0    SP
1    MG
2    PR
3    SP
4    MG
5    PR
Name: estado, dtype: object

In [30]:
df2.ano

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [31]:
df2.dtypes

ano         int64
estado     object
pop       float64
dtype: object

Atribuir valores

In [32]:
df2['estimativa']=50

In [33]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9          50
1  2019     MG  21.2          50
2  2019     PR  16.9          50
3  2020     SP  46.6          50
4  2020     MG  21.4          50
5  2020     PR  17.3          50

In [35]:
df2['estimativa']=np.arange(6)

In [36]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [37]:
df3=df2

In [38]:
df3

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2019     MG  21.2           1
2  2019     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [39]:
df3=df2['ano']

In [40]:
df3

0    2019
1    2019
2    2019
3    2020
4    2020
5    2020
Name: ano, dtype: int64